* {
	box-sizing: border-box;
}

body {
	font-size: 20px;
	background: linear-gradient(rgb,rgb);
}

main {
	display: flex;
	align-items: center;
	width: 80%;
	margin: 10rem auto;
	gap: 0.3rem;
	overflow: hidden;
}

.main__container {
	border: 0.3rem solid black;
	background: #f1f1f1;
	width: 33%;
	height: 30rem;
	padding: 1rem 3rem;
}


.container__content {
	display: flex;
	flex-direction: column;
	gap: 1.3rem;

}

.container__links {
	width: 19rem;
	border-radius: 0.8rem;
}

.container__contact {
	width: 23rem;
}

h2 {
	font-weight: 600;
}

@media screen and (max-width: 860px){
	body {
	}
	
	main {
		font-size: 24px;
		flex-direction: column;
		margin: 0.2rem auto;
		width: 100%;
	}
	
	.main__container {
		width: 100%;
		border-radius: 0;
		padding: 1rem 1.6rem;	
	}

	
}